<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ title }}</title>
		{% load static %}
		<!-- latest bootstrap css -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<!-- local/static stylesheets -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<main class="container-fluid">
			<h1 class="mb-2 pb-2 h4 text-center"><a href="/shows" class="text-reset text-decoration-none">{{ title }}</a></h1>
			<h2 class="h1 mb-3 text-center">Add a New Show</h2>
			<div class="w-50 mx-auto mb-4">
				{% if messages %}
				<ul class="list-unstyled">
					{% for message in messages %}
					<li class="mb-1 py-0 fs-6 alert {% if message.tags %}{{message.tags}}{% else %}alert-info{% endif %}">{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				<form action="create" method="POST">
					{% csrf_token %}
					<div class="mb-3">
						<label for="titleInput" class="form-label">Title:</label>
						<div class="col">
							<input type="text" class="form-control form-control-sm" name="title" id="titleInput" placeholder="The Man In The High Coding Dojo" {% if repopnew.title %}value="{{ repopnew.title }}"{% endif %}>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<label for="networkInput" class="form-label">Network:</label>
							<input class="form-control form-control-sm" name="network" id="networkInput" placeholder="CDTV" {% if repopnew.network %}value="{{ repopnew.network }}"{% else %}value=""{% endif %} list="networkDataList"/>
							<datalist id="networkDataList">
								{% for network in default_networks %}
								<option value="{{ network }}">{{ network }}</option>
								{% endfor %}
							</datalist>
						</div>
						<div class="col">
							<label for="releaseDateInput" class="form-label">Release Date:</label>
							<input type="date" class="form-control form-control-sm" name="release_date" id="releaseDateInput" {% if repopnew.release_date %}value="{{ repopnew.release_date }}"{% endif %} min="1928-07-02" max="{% now "Y-m-d" %}"/>
						</div>
					</div>
					<div class="mb-3">
						<label for="descriptionInput" class="form-label">Description:</label>
						<textarea class="form-control" name="description" id="descriptionInput" cols="30" rows="10">{% if repopnew.description %}{{ repopnew.description }}{% endif %}</textarea>
					</div>
					<div class="row w-75 mx-auto button-group justify-content-around">
						<button type="submit" class="col mx-3 px-3 py-2 btn btn-primary">Create</button>
						<button type="reset" class="col mx-3 px-3 py-2 btn btn-secondary">Reset</button>
						<button type="button" class="col mx-3 px-3 py-2 btn btn-success"><a href="/shows" class="text-reset text-decoration-none">Home</a></button>
					</div>
				</form>
			</div>
		</main>
		<!-- latest bootstrap js bundle -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<!-- latest jquery core -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
		<!-- local/static scripts -->
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>